@{
    ViewBag.Title = "GetAllData";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="alert alert-success">
    <strong>Input Form!</strong> Please Fill The Data Below
</div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
             
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <input type="text" class="form-control" id="Name"></td>
                <td> <input type="text" class="form-control" id="Price"></td>
                <td> <input type="text" class="form-control" id="Quantity"></td>
          
                <td> <input type="text" class="form-control" id="Description"></td>
            </tr>
            <tr><td>
                <input type="button" class="btn btn-success" value="Submit Data" id="Submitbtn"/>
                </td>   
                <tr style="background:#ffffff;">
        <td>
            <img src="~/Content/images/loading.gif" class="img-rounded" id="loader" alt="Cinque Terre" width="150px;" hidden>
        </td>
        </tr>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-info">
        <strong>Info!</strong> Items Currently in database
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="mytblbody"></tbody>
    </table>



<script type="text/javascript">

    setTimeout(refreshdata, 1000);
    //$(document).ready(function ()
    //{
    //    $.ajax({
    //        url: '/api/data',
    //        type: 'Get',
    //        accept: 'application/json',
    //        success: function (data) {

            
    //            for (var i = 0; i <= data.length; i++) {

    //                $("#mytblbody").append('<tr><td>' + data[i].id + '</td><td>' + data[i].Name + '</td><td>' + data[i].Price + '</td><td>' + data[i].Quantity + '</td>' + '<td>' + data[i].Status + '</td><' + '<td>' + data[i].Description + '</td></tr>');
    //                //alert(data[i].Name);
    //            }
    //        },

    //        error: function (xhr) {
    //            console.log("something went wrong!!!")
    //        }
    //    });
    //});

    function refreshdata() {
        $.ajax({
            url: '/api/data',
            type: 'Get',
            accept: 'application/json',
            success: function (data) {

                $("#mytblbody").empty();
                for (var i = 0; i <= data.length; i++)
                {
                    $("#mytblbody").append('<tr><td>' + data[i].id + '</td><td>' + data[i].Name + '</td><td>' + data[i].Price + '</td><td>' + data[i].Quantity + '</td><td>' + data[i].Status + '</td><td>' + data[i].Description + '</td><td><button class="btn btn-danger" onclick="myFunctionDelete(this.id)" id="' + data[i].id + '"><i class="fa fa-trash"></i></button>|<button class="btn btn-info" onclick="myFunctionDelete(this.id)" id="' + data[i].id +'"><i class="fa fa-pencil"></i></button></td>`</tr>');
                    //alert(data[i].Name);
                }
            },

            error: function (xhr) {
                console.log("something went wrong!!!")
            }
        });
    }


    $("#Submitbtn").click(function ()
    {
        $("#loader").show();
        //alert("button clicked");
       
        //var product = new object();
        //product.Name = $("#Name").val();
        //product.Price = $("#Price").val();
        //product.Quantity = $("#Quantity").val();
        //product.Description = $("#Description").val();
        $.ajax({
            url: '/api/data',
            type: 'post',
            accept: 'application/json',
            data: {
                Name: $("#Name").val(),
                Price: $("#Price").val(),
                Quantity: $("#Quantity").val(),
                Description: $("#Description").val()
            },
            success: function (data) {
                //alert("data submitted succesfully!!");
                refreshdata();
                $("#loader").hide();

            },

            error: function (xhr) {
                console.log("something went wrong!!!")
                $("#loader").hide();

            }



        });



    });
    function myFunctionDelete(id) {
        //alert("hi"+id);
        if (confirm("Do you want to delete this Customer?")) {
            $.ajax({
                url: '/api/data',
                type: 'delete',
                accept: 'application/json',
                data: { id: id },
                success: function (data) {
                    //alert("data submitted succesfully!!");
                    refreshdata();
                },
                error: function (xhr) {
                    console.log("something went wrong!!!")
                }

            });
        }
    }

</script>





